/*
* GENERAL SASS VARIABLES
 */

$text-primary:#232323;
$text-secondary:#F7F6F6;

$bg-primary:#F7F6F6;
$bg-secondary:#232323;
$bg-tertiary:#fff;

$text-warning:$text-primary;
$text-success:$text-primary;

$bg-notification:#F55B54;
$bg-warning:#F3A39F;
$bg-success:#E3F1DB;